<div class="container-fluid" style="border-top: 2px solid #ff5353">
  <div class="row m-0 mt-5">
    <div class="col-lg-4 col-sm-12 col-12 mb-4">
      <div class="footer_div">
        <span class="footer_title_font">OWL ERP</span>
      </div>
      <div class="footer_div">
        <span class="footer_details_font">
          Efficient way.This managent tool will help you to Control and
          Co-ordinate your bussiness in a fast and efficient way.
        </span>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-12 mb-4">
      <div class="footer_div">
        <span class="footer_title_font">OWL ERP</span>
      </div>
      <div class="footer_div">
        <span class="footer_details_font">
          Efficient way.This managent tool will help you to Control and
          Co-ordinate your bussiness in a fast and efficient way.
        </span>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-12 text-center mb-4">
      <div>
        <span class="footer_title_font">Find us on</span>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <div class="me-3">
          <img src="./assets/images/find_us/icon1.png" alt="" />
        </div>
        <div class="me-3">
          <img src="./assets/images/find_us/icon2.png" alt="" />
        </div>
        <div class="me-3">
          <img src="./assets/images/find_us/icon3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
