.footer_div {
  margin: auto;
  width: 70%;
  color: #fff;
  // border: 1px solid red;
}

.footer_title_font {
  color: #f5f5f5;
  font-family: poppinsregular;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.75px;
}

.footer_details_font {
  color: #fff;
  font-family: poppinsregular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.65px;
  word-break: break-word;
}

.find_us_icon {
}
