<div
  id="carouselExampleAutoplaying"
  class="slider_div carousel slide"
  data-bs-ride="carousel"
  style="height: 600px"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="./assets/images/banner1.png"
        style="height: 600px; position: relative"
        class="d-block w-100"
        alt="1"
      />
      <div class="container p-0 banner_content">
        <div class="row m-0">
          <div class="col-lg-5">
            <p class="owl_text_font">OWL</p>
            <p class="bos_text_font">BOS</p>
          </div>
          <div class="col-lg-7">
            <div class="mt-5">
              <div>
                <span class="banner_title">Why Owl BOS ?</span>
              </div>
              <div class="d-flex align-items-center mt-4">
                <div class="align-self-start">
                  <div class="bullet_circle mt-2"></div>
                </div>
                <div class="ms-2">
                  <span class="banner_list_font"
                    >This easy management tool will help to Co-ordinate your
                    business efficiently.
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center mt-4">
                <div class="align-self-start">
                  <div class="bullet_circle mt-2"></div>
                </div>
                <div class="ms-2">
                  <span class="banner_list_font"
                    >This easy management tool will help to Co-ordinate your
                    business efficiently.
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center mt-4 mb-2">
                <div class="align-self-start">
                  <div class="bullet_circle mt-2"></div>
                </div>
                <div class="ms-2">
                  <span class="banner_list_font"
                    >This easy management tool will help to Co-ordinate your
                    business efficiently.
                  </span>
                </div>
              </div>
            </div>

            <div style="width: 90%">
              <hr
                style="
                  border: 1px solid #ff5353;
                  opacity: 1;
                  width: 54%;
                  float: right;
                "
              />
            </div>
          </div>
        </div>
      </div>

      <button
        mat-raised-button
        class="demo_video_btn btn_font"
        style="color: #ff4c4c; border: 1px solid #f2f2f2"
      >
        DEMO VIDEOS
      </button>
      <button mat-raised-button class="join_btn btn_font">JOIN WITH US</button>
    </div>
    <div class="carousel-item">
      <img
        src="./assets/images/banner1.png"
        style="height: 600px; position: relative"
        class="d-block w-100"
        alt="2"
      />
    </div>
    <div class="carousel-item">
      <img
        src="./assets/images/banner1.png"
        style="height: 600px; position: relative"
        class="d-block w-100"
        alt="3"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
